CREATE DATABASE DuckHuntAPI;

USE DuckHuntAPI;

CREATE TABLE Character(
	Id int NOT NULL PRIMARY KEY,
	Name varchar(255)
);

CREATE TABLE Image(
	Id int NOT NULL PRIMARY KEY,
	Data varbinary(max),
	CharacterId int FOREIGN KEY REFERENCES Character(Id)
);

CREATE TABLE ImageSequence(
	Id int NOT NULL,
	AnimationId int NOT NULL,
	ImageIndex int NOT NULL,
	ImageId int FOREIGN KEY REFERENCES Image(Id) NOT NULL
);

CREATE TABLE Animation(
	Id int NOT NULL PRIMARY KEY,
	CharacterId int FOREIGN KEY REFERENCES Character(Id),
	Name varchar(255),
);

ALTER TABLE ImageSequence
ADD PRIMARY KEY(Id, AnimationId, ImageIndex);

ALTER TABLE ImageSequence
ADD FOREIGN KEY (AnimationId) REFERENCES Animation(Id);

-- Insert Dog images and Animations
-- Insert dog character

INSERT INTO Character VALUES (0, 'Dog');

-- Insert dog finding animation
INSERT INTO Animation (Id, CharacterId, Name) VALUES (IsNull(((SELECT MAX(Id) FROM Animation) + 1),0), 0, 'Finding')
-- sprite 1

INSERT INTO ImageSequence (Id, AnimationId, ImageIndex, ImageId)
VALUES (
	ISNULL(((SELECT MAX(Id) FROM ImageSequence) + 1),0),
	(SELECT MAX(Id) FROM Animation),
	ISNULL(
		((SELECT MAX(ImageIndex) FROM ImageSequence WHERE AnimationId = (SELECT MAX(Id) FROM Animation)) + 1),0
		),
	(SELECT MAX(Id) FROM Image)
)

-- Insert dog jumping animation
INSERT INTO Animation (Id, CharacterId, Name) VALUES ((SELECT MAX(Id) FROM Animation) + 1, 0, 'Jumping')

-- sprite 1

INSERT INTO ImageSequence (Id, AnimationId, ImageIndex, ImageId)
VALUES (
	ISNULL(((SELECT MAX(Id) FROM ImageSequence) + 1),0),
	(SELECT MAX(Id) FROM Animation),
	ISNULL(
		((SELECT MAX(ImageIndex) FROM ImageSequence WHERE AnimationId = (SELECT MAX(Id) FROM Animation)) + 1),0
		),
	(SELECT MAX(Id) FROM Image)
)

-- sprite 2

INSERT INTO ImageSequence (Id, AnimationId, ImageIndex, ImageId)
VALUES (
	ISNULL(((SELECT MAX(Id) FROM ImageSequence) + 1),0),
	(SELECT MAX(Id) FROM Animation),
	ISNULL(
		((SELECT MAX(ImageIndex) FROM ImageSequence WHERE AnimationId = (SELECT MAX(Id) FROM Animation)) + 1),0
		),
	(SELECT MAX(Id) FROM Image)
)

-- Insert dog laughing animation

INSERT INTO Animation (Id, CharacterId, Name) VALUES ((SELECT MAX(Id) FROM Animation) + 1, 0, 'Laughing')

-- SPRITE 1



-- SPRITE 2



-- Insert dog Smelling animation


-- SPRITE 1



-- Sprite 2



-- SPRITE 3



-- SPRITE 4



-- SPRITE 5



-- Insert dog TAKING A BIRD animation



-- SPRITE 1



-- Insert dog TAKING TWO BIRDs animation


-- SPRITE 1



INSERT INTO Character VALUES (1, 'PurpleBird');

-- INSERTING DiagonalFly ANIMATION


-- INSERT SPRITE 1



-- INSERT SPRITE 2



-- INSERT SPRITE 3



-- INSERTING Hit ANIMATION


-- INSERT SPRITE 1



-- INSER SPRITE 2



-- INSERTING HorizontalFly Animation


-- INSERT SPRITE 1



-- INSERT SPRITE 2



-- INSERT SPRITE 3



-- INSERT VerticalFly ANIMATION


-- SPRITE 1



-- SPRITE 2



-- SPRITE 3


------------------------------------------------------------------

INSERT INTO Character VALUES (2, 'GreenBird');

-- INSERTING DiagonalFly ANIMATION


-- INSERT SPRITE 1



-- INSERT SPRITE 2



-- INSERT SPRITE 3



-- INSERTING Hit ANIMATION


-- INSERT SPRITE 1



-- INSER SPRITE 2



-- INSERTING HorizontalFly Animation


-- INSERT SPRITE 1



-- INSERT SPRITE 2



-- INSERT SPRITE 3



-- INSERT VerticalFly ANIMATION


-- SPRITE 1



-- SPRITE 2



-- SPRITE 3



----------------------------------------------------------------------------------------------------
------------------------------------------------------------------


-- INSERTING DiagonalFly ANIMATION


-- INSERT SPRITE 1



-- INSERT SPRITE 2



-- INSERT SPRITE 3



-- INSERTING Hit ANIMATION


-- INSERT SPRITE 1



-- INSER SPRITE 2



-- INSERTING HorizontalFly Animation


-- INSERT SPRITE 1



-- INSERT SPRITE 2



-- INSERT SPRITE 3



-- INSERT VerticalFly ANIMATION


-- SPRITE 1



-- SPRITE 2



-- SPRITE 3



-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-- Alterações na estrutura das tabelas

CREATE TABLE Scenery (
	Id INT NOT NULL PRIMARY KEY,
	Name varchar(255),
	Type varchar(15),
	ImageId INT FOREIGN KEY REFERENCES Image
);

CREATE TABLE CharacterImage (
	Id INT NOT NULL PRIMARY KEY,
	CharacterId INT FOREIGN KEY REFERENCES Character,
	ImageId INT FOREIGN KEY REFERENCES Image
);

INSERT INTO CharacterImage (Id, CharacterId, ImageId)
VALUES (ISNULL((SELECT MAX(Id) FROM CharacterImage) + 1, 0), 0, 0);

INSERT INTO CharacterImage (Id, CharacterId, ImageId)
VALUES (ISNULL((SELECT MAX(Id) FROM CharacterImage) + 1, 0), 0, 1);

INSERT INTO CharacterImage (Id, CharacterId, ImageId)
VALUES (ISNULL((SELECT MAX(Id) FROM CharacterImage) + 1, 0), 0, 2);











































-------------------------------
--------------------------------------------------------
-------------------------------------------------------
-- Inserção de novas animações para green duck


-- INSERT SPRITE 1





-- INSERT SPRITE 1




-- SPRITE 2




-- SPRITE 3




-------------------------------------------------------
--------------------------------------------------------

-- Inserindo Character Disk, suas animações e imagens


-- INSERT HURLED ANIMARTION


-- SPRITE 1




-- SPRITE 2




-- SPRITE 3




-- SPRITE 4




-- SPRITE 5




-- SPRITE 6





-- SPRITE 7




-- SPRITE 8




-- SPRITE 9




-- SPRITE 10




-- SPRITE 11




-- SPRITE 12




-- Insert de imagens de particula para personagem Disk












----------------------------------------------------------------
----------------------------------------------------------------
-- Insert de Scenery


INSERT INTO Scenery (Id, Name, Type, ImageId)
VALUES (
	(ISNULL((SELECT MAX(Id) FROM Scenery)+ 1,0)),
	'Level-1',
	'NES',
	ISNULL((SELECT MAX(Id) FROM Image),0)
)


INSERT INTO Scenery (Id, Name, Type, ImageId)
VALUES (
	(ISNULL((SELECT MAX(Id) FROM Scenery)+ 1,0)),
	'Bonus',
	'Arcade',
	ISNULL((SELECT MAX(Id) FROM Image),0)
)



INSERT INTO Scenery (Id, Name, Type, ImageId)
VALUES (
	(ISNULL((SELECT MAX(Id) FROM Scenery)+ 1,0)),
	'Sky-background',
	'Arcade',
	ISNULL((SELECT MAX(Id) FROM Image),0)
)



------------------------------------------
------------------------------------------
-- Security tables

CREATE TABLE Device(
	id INT PRIMARY KEY,
	ip varchar(12),
	banned INT,
	firstAccess DateTime,
	accesses INT
)

CREATE TABLE Ban(
	id INT PRIMARY KEY,
	deviceId INT,
	startTime datetime,
	endTime datetime
)